<!-- @autor:juan benitez   @mail:juan.benitez@konecta.com.py -->
<div class="row">
    <br/>
    <breadcrumb-directive></breadcrumb-directive>
    <section class="col-md-12">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top" ng-transclude="titulo">Cambiar Titulo</h2>
                <p ng-transclude="descripcion">Cambiar descripcion</p>
            </div>
            <section class="wrapper form-horizontal" role="form">
                <div ng-transclude="form">Agregar Form</div>
                <div ng-transclude="buttonSubmit">
                    <hr>
                    <button type="button" class="btn btn-primary" ng-disabled="disabledButtonSave" ng-click="guardar()">
                        <i class="fa fa-floppy-o"></i>&nbsp;{{!disabledButtonSave ? 'Guardar' : 'En Proceso...'}}
                    </button>
                </div>
            </section>
            <div ng-transclude="footerForm">
                <a href="#!{{path}}" class="btn btn-default">
                    <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
                </a>
            </div>
            <hr/>
        </section>
    </section>
</div>