<!-- @autor:juan benitez   @mail:juan.benitez@konecta.com.py -->
<div class="row">
    <br/>
    <breadcrumb-directive class="col-md-12"></breadcrumb-directive>
    <section class="col-md-12">
        <section class="form-wrapper">
            <div class="top-block">
                <h2 class="title-top" ng-transclude="titulo">Cambiar Titulo</h2>
                <p ng-transclude="descripcion">Cambiar Descripcion</p>
            </div>
            <form class="wrapper form-horizontal" role="form">
                <dl class="dl-horizontal" ng-transclude="view"> Agregar View</dl>
                <hr>
            </form>
            <hr/>
            <a href="#!{{path}}" class="btn btn-default">
                <i class="fa fa-mail-reply" aria-hidden="true"></i> Atras
            </a>
        </section>
    </section>
</div>