<h1>Mesajes</h1>
<hr/>
<p>Los mensajes se construyen, dependiendo del tipo, con una función utilitaria que se encuentra en el namesapce Message.</p>

<h2>Mesajes de éxito</h2>
<code>
    Message.ok("La operación finalizó exitosamente");
</code>
<br/>
<a class="btn" onclick="Message.ok('La operación finalizó exitosamente')">Probar</a>

<h2>Mesajes de error</h2>
<code>
    Message.error("La operación falló");
</code>
<br/>
<a class="btn" onclick="Message.error('La operación falló')">Probar</a>
<h2>Mesajes de atención</h2>
<code>
    Message.warning("El campo nombre es nulo!");
</code>
<br/>
<a class="btn" onclick="Message.warning('El campo nombre es nulo!')">Probar</a>
<h2>Mesajes de aviso</h2>
<code>
    Message.info("La operación está en ejecución");
</code>
<br/>
<a class="btn" onclick="Message.info('La operación está en ejecución')">Probar</a>
