@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

/*
@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/1e0080de.OpenSans-Regular-webfont.eot);
    src: url(../fonts/1e0080de.OpenSans-Regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/64dae9bb.OpenSans-Regular-webfont.woff) format("woff"), url(../fonts/b91c130e.OpenSans-Regular-webfont.ttf) format("truetype"), url(../fonts/0f443426.OpenSans-Regular-webfont.svg#OpenSansRegular) format("svg");
    font-weight: 400;
    font-style: normal;
}*/

@font-face {
    font-family: TodayShopBold;
    src: url(../fonts/6e071869.TodaySHOP-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/d00c5ccd.TodaySHOP-Bold.otf) format("opentype"), url(../fonts/6dd2df54.TodaySHOP-Bold.woff) format("woff"), url(../fonts/8899367f.TodaySHOP-Bold.ttf) format("truetype"), url(../fonts/ceb19970.TodaySHOP-Bold.svg#TodaySHOP-Bold) format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: DaxlinePro-Medium;
    src: url(../fonts/d6d17bb9.DaxlinePro-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/ed35e252.DaxlinePro-Medium.otf) format("opentype"), url(../fonts/aa9d0b4c.DaxlinePro-Medium.woff) format("woff"), url(../fonts/0f8757f8.DaxlinePro-Medium.ttf) format("truetype"), url(../fonts/bb0039de.DaxlinePro-Medium.svg#DaxlinePro-Medium) format("svg");
    font-weight: 400;
    font-style: normal;
}
