@charset "UTF-8";

/*!
* Ksass - Template SASS/CSS para aplicaciones de konecta
*/

@import "variables";
//estilos propios
@import "switch";
@import "home";
@import "header";
@import "body";
@import "form";
@import "button";
@import "tabs";
@import "breadcrumbs";
@import "fonts";
@import "tables";
@import "tasty";
