.table {
    &.table-striped {
        > tbody > tr:nth-of-type(even) {
            background-color: white;
        }
        thead {
            background: white;
        }
    }
    a[href]{
        text-decoration:underline;
        &:hover{
            color: $brand-primary;
        }
    }
}

.no-padding {
     padding: 0px !important;
}